.maindivabout{
    overflow-x: hidden;
}
.abouthead{
    background-image: url('./assets/icon/bgabt.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 300vh;
    width: 100%;
}

.imageabt img{
    margin-top: 10vh;
    height: 400px;
    width: 1410px;
}

.abttxt{
    position: absolute;
    top: 25vh;
    left: 60vh;
    font-size: 45px;
    color: white;
    font-family: monospace;
}

.abtwords{
    color: white;
    margin-left: 12.5vh;
    font-family: monospace;
    width: 1100px;
    height: 700px;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 40vh;
    border : 1px solid white;
    backdrop-filter: blur(40px);
}

.abtwords h2,p{
    margin-left: 3vh;
}

.abtwords h1{
    color: black;
}

.abtwords h2 {
    color: #FFD700;
}

.abtwords p {
    color: white;
    font-weight: bolder;
    font-size: 16px;
}

.ytabout{
    margin-left: 55vh;
    margin-top: 20vh;
}

.footer{
    margin-top: -8vh;
}