.navfoot{
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
}
ul{
    display: flex;
    font-size: 16px;
    font-family: monospace;
}
.navtxt{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 3.5vh;
}

.navtxt :hover{
    color: blue;
}

.navicon{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 70vh;
    margin-top: 3.5vh;
}

.navicon :hover{
    color: blue;
}